
body {
    background-color: whitesmoke;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #e9edc9;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid #ccd5ae;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 124px;
}

button {
    background-color: whitesmoke;
    padding: 16px 32px;
    border-radius: 30px;
    border: 3px solid #ccd5ae;
    font-size: large;
    color: black;
}

button:hover {
    cursor: pointer;
}

.active {
    border-color: #d4a373;
    border-width: 3px;
}

div#content {
    width: 100%;
    background-color: #faedcd;
    border: 2px solid #D4A373;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.content-body, div.menu-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px 0 32px 0;
    width: 30%;
}

img {
    width: 80%;
}

div#restaurant-info {
    width: 100%;
    text-align: center;
}

p#quote {
    font-style: italic;
    font-size: larger;
}

p#restaurant-description {
    text-align: justify;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.menu-item-description {
    margin-bottom: 0;
}

.menu-item-img {
    width: 60%;
}

.menu-item-price {
    margin-top: 0;
    align-self: flex-end;
    font-style: italic;
}

#about-info-container, .info-item, .info-item-content {
    text-align: center;
}

.info-item-header {
    margin: 0;
    margin-top: 24px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item-content p a {
    text-decoration: none;
}